.auth__input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 1;
  outline: none;
  padding: 13px 0;
  margin: 0 0 25px 0;
}
.auth__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}